body {
    font-family: "Schoolbell", cursive;
    color: white;
    margin: 0;
    background: url("https://img.freepik.com/free-photo/digital-art-portrait-adorable-pet-heaven_23-2151478742.jpg?semt=ais_hybrid&w=740&q=80") center/cover no-repeat fixed; 
}

.logo-text {
    font-size: 33px;
    width: 175px;
    outline: white, 2px;
    border-radius: 30px;
    border: 2px solid white;
    text-align: center;
}


.box {
    width: 80%;
    margin: 50px auto;
    background-color: #000235;
    padding: 30px;
    border-radius: 15px;
}

.ColorChanger {
    background-color: lightgreen;
} 


@media screen and (max-width: 481px){
    .body {
        min-width: 320px;
        color: red;
    }

  }