*, *::before, *::after { box-sizing: inherit; }

html {
    box-sizing: border-box;
}

body {
    font-family: "Schoolbell";
    color: white;
    margin: 0;
    background: lightcoral; 
}
.box {
    width: 80%;
    height: 500px;
    margin: 50px auto;
    background-color: #000235;
    border-radius: 10px;
    border-bottom: 5px solid lightblue;
}

.header {
    background: #25146B;
    width: 100%; 
    border-bottom: 3px solid rgb(255, 255, 255);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

    padding: 14px 16px;
}

.logo-text {
    font-size: 33px;
    width: 185px;
    border-radius: 30px;
    border: 2px solid white;
    text-align: center;
}

.categories {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
.categories li {
float: left;
font-size: 18px;
}

.categories li a {
display: block;
color: white;
text-align: center;
padding: 14px 20px;
text-decoration: none;
}

@media screen and (min-width: 769px) {
    .burger {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .categories {
        display: none;
    }

    .burger {
        width: 46px;
        height: 42px;
        margin: -20px;
        margin-bottom: -15px;
        padding: 0px;
    }
}